.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* color: #282c34;
  background-color: white; */
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  /* color: #61dafb; */
}

.list-item {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.list-item p {
  width: 80px;
  margin: 20px 10px 10px 10px;
}
.list-item p:last-child {
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
